@model CustomerProductModel



<div class="card-body">
    @if (Model.Id > 0)
    {
		<nop-tabs id="productmultimedia-edit" asp-tab-name-to-select="tab-pictures" asp-render-selected-tab-input="false">
			<nop-tab asp-name="tab-pictures" asp-title="@T("Admin.Catalog.Products.Multimedia.Pictures")" asp-default="true">
                @await Html.PartialAsync("_CreateOrUpdate.Multimedia.Pictures", Model)
                </nop-tab>
			<nop-tab asp-name="tab-videos" asp-title="@T("Admin.Catalog.Products.Multimedia.Videos")">
                @await Html.PartialAsync("_CreateOrUpdate.Multimedia.Videos", Model)
                </nop-tab>
		</nop-tabs>
    }
    else
    {
        <div class="card card-default">
            <div class="card-body">
                @T("Admin.Catalog.Products.Multimedia.Videos.SaveBeforeEdit")
            </div>
        </div>
    }    
</div>


@* <style>
    .card.card-secondary {
        margin-bottom: 10px;
        border-top: 3px solid #00c0ef;
        border-left: none;
        border-right: none;
        border-bottom: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

        .card.card-secondary.collapsed-card {
            border-top: 3px solid #d2d6de;
        }

        .card.card-secondary textarea {
            resize: vertical;
        }


        .card.card-secondary > .card-header {
            padding-right: 30px;
            position: relative;
            cursor: pointer;
            background-color: #ffffff;
            color: #444;
            border-bottom: 1px solid #f4f4f4;
        }

            .card.card-secondary > .card-header div {
                font-size: 20px;
                font-weight: 400;
            }

            .card.card-secondary > .card-header .card-title i {
                padding-right: 10px;
            }

        .card.card-secondary .card-header i.toggle-icon {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 12px;
        }

        .card.card-secondary .card-container .cards-group {
            margin-bottom: 0;
        }

        .card.card-secondary .card-container {
            overflow: hidden;
        }

    .card-info:not(.card-outline) > .card-header {
        background-color: #d9edf7;
    }

        .card-info:not(.card-outline) > .card-header > a {
            color: #3c8dbc;
        }
</style> *@