@model CustomerProductModel

<input class="product-id" asp-for="Id" type="hidden"/>
<div class="edit-product">    
    <div class="inputs">
        <label asp-for="Name" asp-postfix=":"></label>
        <input asp-for="Name" />
        <nop-required />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="inputs">
        <label asp-for="ShortDescription" asp-postfix=":"></label>
        <input asp-for="ShortDescription" />
        <nop-required />
        <span asp-validation-for="ShortDescription"></span>
    </div>

    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ProductBottom, additionalData = Model })
</div>
